@charset "UTF-8";
* {
	font-family: 'ＭＳ ゴシック';
}
body {
	background-color: #BBBBFF; 
}
div.mainLayout {
	width: 100%;
	padding-top: 100px;
}
pre {
	border: solid 3px #DDDDDD; padding: 10px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	background-color:#EEEEEE;
	border: solid 1px #000000;
}
th {
	background-color:#CCCCCC;
	border: solid 1px #000000;
}
table.staticTable th {
	height:50px;
}
table.staticTable {
	margin:auto;
}
input[readonly] {
	border: 0px;
	background-color:transparent;
}
input[submit] {
	margin:5px;
}
textarea[readonly] {
	border: 0px;
	resize: none;
	background-color:transparent;
}
div.header {
	cursor:pointer;
}
.err {
	color:red;
}
