<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- fragmentは1ページに複数個定義できる。このdivタグ自体はHTML出力されないので、class指定などは不要。 -->
<div th:fragment="frag_header">
	<h1 th:text="#{content.header}" style="background-color:#BBBBBB"></h1>
</div>
<div class="frag2" th:fragment="frag_header2">
	<h1 th:text="#{content.header}" style="background-color:#222222"></h1>
</div>
<div class="frag4" th:fragment="frag_header4">
	<h1 th:text="#{content.header}" style="background-color:#444444"></h1>
</div>
<div class="frag6" th:fragment="frag_header6">
	<h1 th:text="#{content.header}" style="background-color:#666666"></h1>
</div>
<div class="frag8" th:fragment="frag_header8">
	<h1 th:text="#{content.header}" style="background-color:#888888"></h1>
</div>
