<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../css/common.css" rel="stylesheet"></link>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	
	<title th:text="#{content.title}"></title>
</head>
<body>
	<!-- includeする方のclassはHTML出力される。 -->
	<div class="header" th:include="header :: frag_header">
		＃ここはインクルードされるため、HTMLには出力されません。＃
	</div>
	
	<table>
		<tr>
			<th style="width:150px;">DBアクセス検証</th>
			<td style="width:150px;"><a href="/repo">/repo</a>
		</tr>
		<tr>
			<th>その他検証</th>
			<td><a href="/hello">/hello</a>
		</tr>
	</table>
</body>
</html>