<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<!-- hrefはhtmlを直接openで参照。th:hrefはthymeleaf（サーバー起動でアクセス）時に参照 -->
	<link href="../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet"></link>
	<script type="text/javascript" src="../static/js/common.js" th:src="@{/js/common.js}" ></script>

	<title th:text="#{content.title}"></title> 
</head>
<body>
	<div class="header" th:include="header :: frag_header"></div>
	<form method="post" action="/repo" th:object="${formModel}">
		<ul>
			<li class="err" th:each="error : ${#fields.detailedErrors()}" th:text="${error.message}" />
		</ul>
		<table>
			<col style="width:100px;"></col>
			<col style="width:300px;"></col>
			<tr>
				<th><label for="ID">ID</label></th>
				<td>
					<input type="text" name="id" th:value="*{id}" />
					<input type="submit" name="select" value="SELECT" />
				</td>
			</tr>
			<tr>
				<th><label for="name">名前</label></th>
				<td>
					<input type="text" name="name" th:value="*{name}" />
					<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="err"></div>
				</td>
			</tr>
			<tr>
				<th><label for="code">社員コード</label></th>
				<td>
					<input type="text" name="code" th:value="*{code}" />
					<div th:if="${#fields.hasErrors('code')}" th:errors="*{code}" th:errorclass="err"></div>
				</td>
			</tr>
			<tr>
				<th><label for="age">年齢</label></th>
				<td>
					<input type="text" name="age" th:value="*{age}" />
					<div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" th:errorclass="err"></div>
				</td>
			</tr>
			<tr>
				<th><label for="height">身長</label></th>
				<td>
					<input type="text" name="height" th:value="*{height}" />
					<div th:if="${#fields.hasErrors('height')}" th:errors="*{height}" th:errorclass="err"></div>
				</td>
			</tr>
			<tr>
				<th><label for="mail">メール</label></th>
				<td>
					<input type="text" name="mail" th:value="*{mail}" />
					<div th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" th:errorclass="err"></div>
				</td>
			</tr>
			<tr>
				<th><label for="phone">電話番号</label></th>
				<td>
					<input type="text" name="phone" th:value="*{phone}" />
					<div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" th:errorclass="err"></div>
				</td>
			</tr>
			<tr>
				<th><label for="memo">メモ</label></th>
				<td>
					<textarea rows="5" cols="20" name="memo" th:field="*{memo}" /></textarea>
					<div th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}" th:errorclass="err"></div>
				</td>
			</tr>
			<tr>
				<th></th>
				<td><input type="submit" name="update" value="登録／更新" /></td>
			</tr>
		</table>
	<hr/>
		<div><input type="submit" name="search" value="名前で部分一致検索" /></div>
	<hr/>
	</form>
	<table id="table1">
		<tr>
			<th style="width:100px;">ID</th>
			<th style="width:100px;">名前</th>
			<th style="width:100px;">社員コード</th>
			<th style="width:100px;">年齢</th>
			<th style="width:100px;">身長</th>
			<th style="width:100px;">メール</th>
			<th style="width:100px;">電話番号</th>
			<th style="width:100px;">メモ</th>
			<th style="width:100px;"></th>
		</tr>
		<tr th:each="obj : ${datalist}">
			<td><span th:text="${obj.id}"></span><input type="hidden" name="id" th:value="${obj.id}" /></td>
			<td th:text="${obj.name}"></td>
			<td th:text="${obj.code}"></td>
			<td th:text="${obj.age}"></td>
			<td th:text="${obj.height}"></td>
			<td th:text="${obj.mail}"></td>
			<td th:text="${obj.phone}"></td>
			<td><textarea readonly rows="3" cols="20" th:text="${obj.memo}"></textarea></td>
			<td style="text-align:center;"><input type="button" class="deleteUser" value="削除" /></td>
		</tr>
	</table>
</body>
</html>